@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

h1 {
    text-align: center;
    margin: 45px;
}

a, h3 {
    color: #af1b3f;
}

h2 {
    font-size: 20px;
}

img {
    display: block;
    width: 35%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

nav{
    border-top: #EFC69B 2px solid;
    border-bottom: #EFC69B 2px solid;
    width: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #473144;
}

h1, h2, h3{
    font-family: "Lora", Impact, serif
}

ul {
    display: grid;
    grid-template-columns: 75% 1fr 1fr 1fr;
    list-style: none;
}

#about {
    grid-column: 2/3;
}

#archive {
    grid-column: 3/4;
}

#search {
    grid-column: 4/5;
}

main {
    display: grid;
    grid-template-columns: 80% 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 25px;
}

.book {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.book_rating{
    grid-column: 1/2;
}

.book_info{
    grid-column: 2/3;
}

#filter {
    grid-column: 2/3;
    grid-row: 1/200;
    text-align: center;
    border: #EFC69B 2px solid;
}

.book_rating {
    border-right: #EFC69B 2px solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.book_rating p {
    text-align: right;
    margin-right: 10px;
}

.book_rating h2 {
    text-align: right;
    margin-right: 10px;
}

.skiptocontent a {
	position: absolute;
    top: -40px;
    background-color: black;
    color: white;
}
.skiptocontent a:focus {
	top: 0;
}

.book_info p {
    font-size: 13px;
    font-weight: light;
}